



  <app-toast-container></app-toast-container>


<div class="min-h-screen bg-gray-50">
  <!-- Header -->
  <div class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <div class="flex items-center space-x-2 justify-center">
         <h3 class="text-xl font-bold items-center"><ng-icon name="bootstrapTicketPerforated" class="w-6 h-6 text-yellow-500"></ng-icon>
          Event Ticketing System</h3>
      </div>
      <div class="flex items-center space-x-4">

        <app-system-control></app-system-control>

      </div>
    </div>
  </div>

  <main class="max-w-7xl mx-auto px-4 py-6">
    <div class="grid grid-cols-12 gap-6">
      <!-- Left Column -->
      <div class="col-span-8 space-y-6">
        <!-- Status Cards -->

          <app-count-display></app-count-display>

        <!-- Tickets Status -->
        <div class="bg-white rounded-lg shadow">
          <app-ticket-pool-status></app-ticket-pool-status>
        </div>

        <!-- Sales Chart -->
        <div class="bg-white rounded-lg shadow">
          <div class="p-6">
            <div class="flex items-center mb-4">

              <h5 class="text-lg font-semibold items-center"><ng-icon name="bootstrapBarChartLine" class="mr-2"></ng-icon>Real-Time Sales Analytics</h5>
            </div>
            <div class="h-64">
              <!-- <canvas baseChart
                [type]="'line'"
                [data]="salesData"
                [options]="chartOptions">
              </canvas> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-span-4 space-y-6">
        <!-- Configuration -->
        <div class="bg-white rounded-lg shadow">
        <app-configuration-form></app-configuration-form>
        </div>

        <!-- Transaction Logs -->


            <div class="">

              <app-transaction-log></app-transaction-log>

        </div>
      </div>
    </div>
  </main>
</div>
